* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: default) {
  :root {
    --header-bg: #282a36;
    --bg: #383a59;
    --bg-md:#2f3150;
    --bg-lg:#323450;
    --inputColor: hsl(0, 0%, 98%);
    --links: hsl(231, 5%, 70%);
    --options: hsl(236, 9%, 61%);
    --borderB: hsl(235, 19%, 35%);
    --text:#b1b1af;
    --white: #fff;
    --title: #bd93f9;
    --button:#282a36	;
    --player-bg:#6272a4;
    --purple-500: #6f51b6;
  }
}

.dark {
  --header-bg: #282a36;
  --bg: #383a59;
  --bg-md:#2f3150;
  --bg-lg:#323450;
  --inputColor: hsl(0, 0%, 98%);
  --links: hsl(231, 5%, 70%);
  --options: hsl(236, 9%, 61%);
  --borderB: hsl(235, 19%, 35%);
  --text:#b1b1af;
  --white: #fff;
  --title: #bd93f9;
  --button:#282a36	;
  --player-bg:#6272a4;
  --purple-500: #6f51b6;
}
.light {
  --header-bg: #d4d7dd;
  --bg: #e4e8f0;
  --bg-lg: #d6dbe6;
  --bg-md: #cdd1da;
  --inputColor: hsl(235, 24%, 19%);
  --links: #44475a;
  --options: hsl(234, 11%, 52%);
  --borderB: hsl(233, 20%, 82%);
  --text: #cbcfd8;
  --white: #fff;
  --title: hsl(236, 33%, 92%);
  --button: rgb(255, 255, 255);
  --player-bg: #6272a4;
  --purple-500: #6f51b6;
}

body {
  background: var(--bg);
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%; //15px
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%; //14px
  }
}

body,
input,
textarea,
button {
  font: 500 1rem Inter, sans-serif;
  color: var(--links);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: Lexand, sans-serif;
  color: var(--links);
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
button {
  cursor: pointer;
}
