.homepage {
  padding: 0 2rem;

  // height: calc(100% - 6.5rem);
  width: calc(100% - 22rem);
 @media (max-width: 1080px) {
   margin: 0 auto;
   width: 90%;
 }
  h2 {
    text-shadow: 1px 1px 2px var(--header-bg);
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }
  .gridContainer {
    h2 {
      display: block;
      text-align: center;
    }
    margin:2rem 2rem;
    gap:1.5rem;

  
    @media (max-width: 1079px) {
      display: flex;
      flex-direction: column;
      margin: 2rem auto;
   
    }
    @media (min-width: 1080px) {
      display:flex;
      
    }
  }
  
  .allEpisodes {
    h2 {
      text-align: center;
    }
    padding-bottom: 2rem;
    ul {
      list-style: none;
     li {
       margin: 1rem;
     }
    }
    
  }
}
