.cardContent {
  display: flex;
  padding: 0.7rem;
  position: relative;
  border-radius: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  margin: 0 auto;
  width: 100%;
  background: var(--bg-md);
  .image {
    min-height: 4rem;
    min-width: 8rem;
    img {
      border-radius: 1rem;
    }
  }
  .info {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    
    a {
      -webkit-line-clamp: 2; /* number of lines to show */
      -webkit-box-orient: vertical;
      font-size: 0.85rem;
      display: -webkit-box;
      color: var(--links);
      font-family: Lexand, sans-serif;
      font-weight: 600;
      text-decoration: none;
      white-space: pre-wrap;

      line-height: 1.4;
      overflow: hidden;
      text-overflow: ellipsis;
      &:hover {
        text-decoration: underline;
      }
    }
    p {
      font-size: 0.75rem;
      margin-top: 0.5rem;
    }
    span {
      display: inline-block;

      margin-top: 0.5rem;
      font-size: 0.85rem;
    }
  }
  button {
    right: 0;
    top: 50%;

    transform: translate(30%, -50%);
    position: absolute;

    bottom: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    background: var(--button);
    border: 1px solid var(--gray-100);
    border-radius: 0.65rem;
    font-size: 0;
    transition: all 0.3s;
    &:hover {
      filter: brightness(0.6);
    }
    img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
